.tags,
.tags li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags li:not(:first-child)::before {
  content: ', ';
}

.bio {
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem 0rem;
}
  
.bio img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 3.5rem;
  margin-bottom: 0;
  margin-right: 0.875rem;
  width: 3.5rem;
}

.information {
  line-height: 24px;
}

.ArticleMeta {
  color: rgba(0, 0, 0, 0.54);
}
