.title {
  font-family: 'Literata', serif;
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
  padding: 1rem 0rem;
}

.buttons > a,
.title > a {
  color: var(--header-font-color-dark);
  text-decoration: none;
}

.buttons {
  font-size: 1.2rem;
}

.topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
